
#about {
    text-align: left;
    background-color: var(--brand-beige);
    padding-top: 1rem;
}

#about h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 2.4rem;
}

#about .content p {
    width: 32.7rem;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
    margin-bottom: 6rem;
}

#about .content img{
    width: 32.7rem;
}
