
nav {
    display: flex;
    height: 7.2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background:rgba(0, 133, 111, 0.60);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
    stroke: white;
}

nav.scroll svg:nth-child(2) path {
    stroke: white;
}