
#services {
    font-size: 1.4rem;
    line-height: 150%;
    
}

#services h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 6rem;
}

.cards-services {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 3.2rem;
}

.cards-services .card {
    border: 1px solid var(--green-light);
    border-radius: .6rem;
    box-shadow: 1px 1.0rem 2rem rgba(0, 133, 111, 0.10);
    width: 32.7rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.4rem;
    gap: 1.6rem;
    background-color: white;
}

.cards-services .card h3 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 3.1rem;
}

.cards-services .card p {
    color: var(--paragraph);
    width: 27.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    flex: none;
    order: 2;
    flex-grow: 0;
    line-height: 150%;
    text-align: left;
}

